


.woo{
    text-align: right;
    word-spacing: 3em;
    text-shadow: 3em 3em red;
    font-size: 1.5em;
}

.moo{
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 3em 3em red;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
}

#foo{
    text-decoration: underline;
    text-transform: uppercase;
}

 